.carousel {
    padding: 81px 0 82px 0;
    &__slider {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .slick-prev, .slick-next {
        position: absolute;
        top: calc(50% - 25px);
        transform: translateY(-50%);
        left: -82px;
        border: none;
        background-color: rgba(255, 255, 255, 1);
    }
    .slick-next {
        right: -66px;
        left: auto;
    }
}
