@media (max-width: 1920px) {
    .catalog {
        &__tab {
            margin-right: 10px;
            width: 220px;
            height: 50px;
        }
        &-item {
            width: 290px;   
            min-height: 440px;
            &__price {
                font-size: 18px;
            }
            hr {
                margin-top: 0px;
                margin-bottom: 0px;
            }
            &__menu {
                &_active {
                    transform: translateX(-103%);
                    margin-left: 0px; 
                } 
            }
            &__list {
                width: 265px;
                min-height: 350px;
            }
            &__back {
                left: 115px;
                top: -15px;
                &_active {
                    transform: translateX(calc(-100% - 13px));
                    transition: 0.5s all;
                    left: 115px;
                    top: -15px;
                }
            }
            &__footer {
                padding-top: 20px;
            }
        }
    }
}

@media (max-width: 1440px) {
    .catalog {
        &__tab {
            width: 210px;
            height: 45px;
            line-height: 45px;
        }
        &-item {
            width: 280px;   
            min-height: 440px;
            padding: 20px 20px 25px 20px;
            margin-bottom: 20px;
            &__wrapper {
                display: flex;
                width: calc(200% + 25px);
            }
            &__img {
                max-width: 100%;
                height: 175px;
                margin-top: 0;
            }
            &__subtitle {
                font-size: 15px;
            }
            &__descr {
                font-size: 13px;
            }
            &__link {
                font-size: 13px;
            }
            &__old-price {
                font-size: 13px;
            }
            &__price {
                font-size: 18px;
            }
            &__list {
                min-height: 310px;
                li {
                    margin-bottom: 10px;
                    font-size: 13px;
                } 
            }
            &__menu {
                &_active {
                    transform: translateX(-95%);
                } 
            }
        }
    }
}

@media (max-width: 1024px) {
    .catalog {
        &__tab {
            width: 200px;
            height: 40px;
            line-height: 40px;
            font-size: 15px;
        }
        &-item {
            margin-right: 25px;
        }
        &__content {
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}

@media (max-width: 768px) {
    .catalog {
        &-item {
            min-height: 390px;
            &__img {
                height: 120px;
            }
            hr {
                margin-top: 19px;
            }
            &__list {
                min-height: 230px;
                li {
                    margin-bottom: 8px;
                    font-size: 12.5px;
                }
                &_active {
                    margin-bottom: 0px;
                }
            }
            &__back {
                left: 110px;
                top: 5px;   
                &_active {
                    left: 110px;
                    top: 5px;
                }
            }
            &__menu {
                &_active {
                    transform: translateX(-97%);
                    
                } 
            }
        }
    }
}

@media (max-width: 576px) {
    .catalog {
        &__tabs {
            margin-top: 40px;
            padding-left: 28px;
        }
        &__tab {
            width: 120px;
            height: 35px;
            line-height: 35px;
            font-size: 12px;
        }
        &__content {
            margin-top: 40px;
        }
        &-item {
            margin-right: 0;
        }
    }
}

@media (max-width: 395px) {
    .catalog {
        &__tabs {
            margin-top: 20px;
        }
        &__tab {
            width: 100px;
            height: 30px;
            line-height: 30px;
            font-size: 10px;
        }
        &__content {
            margin-top: 40px;
        }
        &-item {
            margin-right: 0;
        }
    }
}

@media (max-width: 321px) {
    .catalog {
        padding-bottom: 30px;
        &__tabs {
            margin-top: 25px;
        }
        &__tab {
            font-size: 8px;
        }
        &-item {
            width: 270px;
            &__menu {
                &_active {
                    transform: translateX(-95%);
                } 
            }
            &__back {
                left: 105px;
                &_active {
                    left: 105px;
                }
            }
        }
    }
}