@media (max-width: 1920px) {
    .title {
        font-size: 30px;
    }
}

@media (max-width: 576px) {
    .title {
        font-size: 25px;
        &_left {
            font-size: 25px;
            text-align: center;
        }
        br {
            display: none;
        }
    }
}

@media (max-width: 395px) {
    .title {
        font-size: 23px;
        &_left {
            font-size: 23px;
        }
    }
}

@media (max-width: 321px) {
    .title {
        font-size: 20px;
        &_left {
            font-size: 20px;
        }
    }
}