@media (max-width: 1920px) {
    .button {
        width: 150px;
        height: 30px;
        font-size: 12px;
        &_main {
            margin-top: 65px;
            width: 300px;
            height: 50px;
            font-size: 16px;
        }
        &_submit {
            width: 300px;
            height: 55px;
            font-size: 16px;
        }
        &_mini {
            width: 131px;
            height: 40px;
        }
    }
}

@media (max-width: 1440px) {
    .button {
        width: 140px;
        height: 25px;
        font-size: 12px;
        &_main {
            margin-top: 55px;
            width: 280px;
            height: 45px;
            font-size: 15px;
        }
        &_submit {
            width: 300px;
            height: 55px;
            font-size: 16px;
        }
        &_mini {
            width: 121px;
            height: 35px;
        }
    }
}

@media (max-width: 1024px) {
    .button {
        &_submit {
            width: 280px;
            height: 50px;
            font-size: 16px;
        }
    }
}

@media (max-width: 768px) {
    .button {
        &_main {
            margin-top: 45px;
        }
    }
}

@media (max-width: 576px) {
    .button {
        &_main {
            margin-top: 30px;
        }
    }
}

@media (max-width: 395px) {
    .button {
        margin-top: 10px;
        &_main {
            width: 260px;
            height: 35px;
            font-size: 15px;
        }
    }
}

@media (max-width: 321px) {
    .button {
        &_hidden {
            display: none;
        }
        &_phone {
            display: block;
            width: 30px;
            height: 30px;
            a {
                text-decoration: none;
            }
            span {
                display: block;
                font-size: 20px;
                color: white;
            }
        }
        &_main {
            width: 200px;
            height: 30px;
            font-size: 12px;
        }
        &_submit {
            width: 260px;
        }
    }
}