@media (max-width: 1920px) {
    .promo {
        min-height: 650px;
        padding: 21px 0 93px 0;
        &__wrapper {
            margin-top: 90px;
        }
        &__header {
            font-size: 42px;
        }
        &__subheader {
            margin-top: 0;
            font-size: 24px;
        }
        &__icons {
            width: 425px;
            margin-top: 65px;
        }
        &__icon {
            width: 108px;
            font-size: 14px;
            img {
                margin-bottom: 15px;
                width: auto;
            }
        }
        &__link {
            margin-top: 15px;
            font-size: 16px;
            a {
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 1440px) {
    .promo {
        min-height: 625px;
        padding: 20px 0 83px 0;
        &__wrapper {
            margin-top: 80px;
        }
        &__header {
            font-size: 38px;
        }
        &__subheader {
            font-size: 21.8px;
        }
        &__icons {
            width: 410px;
            margin-top: 55px;
        }
    }
}

@media (max-width: 1024px) {
    .promo {
        min-height: 625px;
        padding: 20px 0 83px 0;
        
    }
}

@media (max-width: 768px) {
    .promo {
        position: relative;
        min-height: 370px;
        padding: 15px 0 45px 0;
        &__wrapper {
            margin-top: 45px;
        }
        &__icons {
            position: fixed;
            left: -100%;
            width: 270px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            top: -55px;
            z-index: 2;
            background-color: rgba($color: #212121, $alpha: 0.5);
            transition: 0.6s all;
            &_active {
                left: 0;
            }
        }
        &__icon {
            margin-bottom: 10px;
            img {
                width: 35%;
            }
        }
        &__header {
            font-size: 35px;
        }
        &__subheader {
            font-size: 20px;
        }
    }
}

@media (max-width: 576px) {
    .promo  {
        min-height: 340px;
        padding: 15px 0 40px 0;
        &__wrapper {
            align-items: center;
            margin-top: 35px;
        }
        &__header {
            font-size: 30px;
        }
        &__subheader {
            font-size: 17px;
        }
    }
}

@media (max-width: 395px) {
    .promo {
        min-height: 300px;
        &__wrapper {
            margin-top: 15px;
        }
        &__header {
            text-align: center;
            font-size: 27px;
        }
        &__subheader {
            text-align: center;
            font-size: 16px;
        }
    }
}

@media (max-width: 321px) {
    .promo {
        position: relative;
        min-height: 250px;
        &__header {
            text-align: center;
            font-size: 23px;
        }
        &__subheader {
            text-align: center;
            font-size: 13px;
        }
        &__button {
            width: 85%;
            display: flex;
            justify-content: space-between;
            a {
                text-decoration: none;
            }
            span {
                position: absolute;
                right: 39px;
                top: 128px;
                display: block;
                font-size: 20px;
                color: white;
            } 
        }
    }
}
