@media (max-width: 1920px) {
    .catalog {
        &__tab {
            margin-right: 10px;
            width: 220px;
            height: 50px;
        }
        &-item {
            width: 290px;   
            min-height: 440px;
            &__price {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 1440px) {
    .catalog {
        &__tab {
            width: 210px;
            height: 45px;
            line-height: 45px;
        }
        &-item {
            width: 280px;   
            min-height: 440px;
            padding: 20px 20px 25px 20px;
            margin-bottom: 20px;
            &__img {
                max-width: 100%;
                height: 175px;
            }
            &__subtitle {
                font-size: 15px;
            }
            &__descr {
                font-size: 13px;
            }
            &__link {
                font-size: 13px;
            }
            &__old-price {
                font-size: 13px;
            }
            &__price {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 1024px) {
    .catalog {
        &__tab {
            width: 200px;
            height: 40px;
            line-height: 40px;
            font-size: 15px;
        }
        &-item {
            margin-right: 25px;
        }
        &__content {
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}

@media (max-width: 576px) {
    .catalog {
        &__tabs {
            margin-top: 40px;
            padding-left: 28px;
        }
        &__tab {
            width: 120px;
            height: 35px;
            line-height: 35px;
            font-size: 12px;
        }
        &__content {
            margin-top: 40px;
        }
        &-item {
            margin-right: 0;
        }
    }
}

@media (max-width: 395px) {
    .catalog {
        &__tabs {
            margin-top: 20px;
        }
        &__tab {
            width: 100px;
            height: 30px;
            line-height: 30px;
            font-size: 10px;
        }
        &__content {
            margin-top: 40px;
        }
        &-item {
            margin-right: 0;
        }
    }
}