@media (max-width: 1024px) {
    .carousel {
        &__slider {
            width: 600px;
            img {
                width: 100%;
                margin: 0 auto;
            }
        }
        .slick-dots {
            bottom: 0;
            li {
                border: 1px solid black;
                border-radius: 100%;
                width: 15px;
                height: 15px;
                margin-right: 15px;
                background-color: rgba(255, 0, 0, 0.8);
                &:hover {
                    width: 17px;
                    height: 17px;
                } 
            }
        }
    }
}

@media (max-width: 768px) {
    .carousel {
        &__slider {
            width: 500px;
        }
        .slick-dots {
            position: absolute;
            bottom: -20px;
            .slick-active {
                &:hover {
                    width: 17px;
                    height: 17px;
                } 
            }
        }
    }
}

@media (max-width: 576px) {
    .carousel {
        padding: 40px 0 20px 0;
        &__slider {
            width: 340px;
            img {
                width: 100%;
                margin: 0 auto;
            }
        }
    }
}

@media (max-width: 426px) {
    .carousel {
        padding: 20px 0 20px 0;
        &__slider {
            width: 300px;
        }
    }
}

@media (max-width: 395px) {
    .carousel {
        &__slider {
            width: 270px;
        }
    }
}

@media (max-width: 321px) {
    .carousel {
        &__slider {
            width: 240px;
        }
        .slick-dots {
            li {
                width: 13px;
                height: 13px;
                &:hover {
                    width: 15px;
                    height: 15px;
                }
            }
        }
        .slick-active {
            &:hover {
                width: 15px;
                height: 15px;
            } 
        }
    }
}