@media (max-width: 768px) {
    .hamburger {
        display: block;
        position: absolute;
        right: 20px;
        top: 89px;
        width: 30px;
        height: 24px;
        span {
            display: block;
            height: 3px;
            width: 100%;
            background-color: $main-color;
            margin-bottom: 3px;
            transition: 0.5s all;
        }
        &_active {
            span {
                margin-bottom: -3px;
                &:first-child {
                    transform: translateY(3px) rotate(-45deg);
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    transform: translateY(3px) rotate(45deg);
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .hamburger {
        right: 17px;
        top: 20px;
    }
}

@media (max-width: 340px) {
    .hamburger {
        right: 5px;
        top: 18px;
    }
}