@media (max-width: 1024px) {
    .carousel {
        #tns1-ow {
            width: 600px;
        }
        &-inner {
            img {
                width: 80%;
            }
        }
    }
}

@media (max-width: 576px) {
    .carousel {
        padding: 40px 0 40px 0;
        #tns1-ow {
            width: 340px;
        }
        &-inner {
            img {
                width: 80%;
            }
        }
    }
    button {
        img {
            width: 80%;
        }
    }
}

@media (max-width: 426px) {
    .carousel {
        padding: 20px 0 20px 0;
        #tns1-ow {
            width: 300px;
        }
        &-inner {
            img {
                width: 100%;
            }
        }
    }
    button {
        img {
            width: 70%;
        }
    }
}

@media (max-width: 395px) {
    .carousel {
        padding: 20px 0 20px 0;
        #tns1-ow {
            width: 270px;
        }
    }
    button {
        img {
            width: 60%;
        }
    }
}

@media (max-width: 321px) {
    .carousel {
        #tns1-ow {
            width: 210px;
        }
    }
    button {
        img {
            width: 50%;
        }
    }
}