@media (max-width: 1024px) {
    .feed-form {
        width: 280px;
        input {
            height: 40px;
        }
    }
}

@media (max-width: 576px) {
    .feed-form {
        width: auto;
        align-items: center;
        input {
            height: 40px;
            width: 280px;
        }
    }
}

@media (max-width: 426px) {
    .feed-form {
        input {
            width: 200px;
            height: 35px;
            font-size: 13px;
        }
    }
}

@media (max-width: 321px) {
    .feed-form {
        input {
            width: 260px;
            &.input_small {
                width: 180px;
            }
        }
    }
}